@import "../../../base/styles/guide";

.guide-header {
  background: $black;
}

.guide-example-demo-button {
  color: $near-black;

  &:hover,
  &:focus {
    color: $grey-dark;
  }
}

.guide-example-modifier {
  color: $black;
}

.guide-color-block-black {
  background: $black;
}

.guide-color-block-near-black {
  background: $near-black;
}

.guide-color-block-grey-dark {
  background: $grey-dark;
}

.guide-color-block-grey-medium {
  background: $grey-medium;
}

.guide-color-block-grey-light {
  background: $grey-light;
}

.guide-color-block-grey-cool {
  background: $grey-cool;
}

.guide-color-block-grey-very-light {
  background: $grey-very-light;
}

.guide-color-block-white {
  background: $white;
}

.guide-color-block-yellow {
  background: $yellow;
}

.guide-color-block-yellow-hover {
  background: $yellow-hover;
}

.guide-color-block-yellow-accent {
  background: $yellow-accent;
}

.guide-color-block-orange {
  background: $orange;
}

.guide-color-block-green {
  background: $green;
}
