.no-cssanimations .btn-progress-spinner-icon,
.gicon-btn-spinner-empty { background-image: url('/static/img/grunticon/png/btn-spinner-empty.png'); background-repeat: no-repeat; }

.no-cssanimations .btn-inverse .btn-progress-spinner-icon,
.no-cssanimations .spinner-small.spinner-small,
.gicon-btn-spinner-inverse-empty { background-image: url('/static/img/grunticon/png/btn-spinner-inverse-empty.png'); background-repeat: no-repeat; }

.no-cssanimations .btn-mini.btn-inverse .btn-progress-spinner-icon,
.no-cssanimations .spinner-mini.spinner-mini,
.gicon-btn-spinner-inverse-mini-empty { background-image: url('/static/img/grunticon/png/btn-spinner-inverse-mini-empty.png'); background-repeat: no-repeat; }

.btn-mini.btn-inverse .btn-progress-spinner-icon,
.spinner-mini.spinner-mini,
.gicon-btn-spinner-inverse-mini { background-image: url('/static/img/grunticon/png/btn-spinner-inverse-mini.png'); background-repeat: no-repeat; }

.btn-inverse .btn-progress-spinner-icon,
.spinner-small.spinner-small,
.gicon-btn-spinner-inverse { background-image: url('/static/img/grunticon/png/btn-spinner-inverse.png'); background-repeat: no-repeat; }

.no-cssanimations .btn-mini .btn-progress-spinner-icon,
.gicon-btn-spinner-mini-empty { background-image: url('/static/img/grunticon/png/btn-spinner-mini-empty.png'); background-repeat: no-repeat; }

.btn-mini .btn-progress-spinner-icon,
.gicon-btn-spinner-mini { background-image: url('/static/img/grunticon/png/btn-spinner-mini.png'); background-repeat: no-repeat; }

.btn-progress-spinner-icon,
.gicon-btn-spinner { background-image: url('/static/img/grunticon/png/btn-spinner.png'); background-repeat: no-repeat; }

.gicon-logo-checkout { background-image: url('/static/img/grunticon/png/logo-checkout.png'); background-repeat: no-repeat; }

.header.fixed .logo,
.gicon-logo-header-small { background-image: url('/static/img/grunticon/png/logo-header-small.png'); background-repeat: no-repeat; }

.logo,
.gicon-logo-header { background-image: url('/static/img/grunticon/png/logo-header.png'); background-repeat: no-repeat; }

.gicon-logo { background-image: url('/static/img/grunticon/png/logo.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-down.paginator-hairline-btn-dark,
.paginator-hairline-btn-down.paginator-hairline-btn-light:hover,
.paginator-hairline-btn-down.paginator-hairline-btn-light:focus,
.gicon-paginator-hairline-btn-down-dark { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-down-dark.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-down:hover,
.paginator-hairline-btn-down:focus,
.gicon-paginator-hairline-btn-down-hover { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-down-hover.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-down.paginator-hairline-btn-light,
.paginator-hairline-btn-down.paginator-hairline-btn-dark:hover,
.paginator-hairline-btn-down.paginator-hairline-btn-dark:focus,
.gicon-paginator-hairline-btn-down-light { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-down-light.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-down,
.gicon-paginator-hairline-btn-down { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-down.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-dark,
.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-light:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-light:focus,
.gicon-paginator-hairline-btn-large-down-dark { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-large-down-dark.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-down:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-down:focus,
.gicon-paginator-hairline-btn-large-down-hover { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-large-down-hover.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-light,
.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-dark:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-dark:focus,
.gicon-paginator-hairline-btn-large-down-light { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-large-down-light.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-down,
.gicon-paginator-hairline-btn-large-down { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-large-down.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-dark,
.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-light:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-light:focus,
.gicon-paginator-hairline-btn-large-left-dark { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-large-left-dark.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-prev:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-prev:focus,
.gicon-paginator-hairline-btn-large-left-hover { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-large-left-hover.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-light,
.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-dark:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-dark:focus,
.gicon-paginator-hairline-btn-large-left-light { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-large-left-light.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-prev,
.gicon-paginator-hairline-btn-large-left { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-large-left.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-dark,
.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-light:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-light:focus,
.gicon-paginator-hairline-btn-large-right-dark { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-large-right-dark.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-next:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-next:focus,
.gicon-paginator-hairline-btn-large-right-hover { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-large-right-hover.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-light,
.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-dark:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-dark:focus,
.gicon-paginator-hairline-btn-large-right-light { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-large-right-light.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-next,
.gicon-paginator-hairline-btn-large-right { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-large-right.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-dark,
.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-light:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-light:focus,
.gicon-paginator-hairline-btn-large-up-dark { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-large-up-dark.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-up:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-up:focus,
.gicon-paginator-hairline-btn-large-up-hover { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-large-up-hover.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-light,
.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-dark:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-dark:focus,
.gicon-paginator-hairline-btn-large-up-light { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-large-up-light.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-up,
.gicon-paginator-hairline-btn-large-up { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-large-up.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-prev.paginator-hairline-btn-dark,
.paginator-hairline-btn-prev.paginator-hairline-btn-light:hover,
.paginator-hairline-btn-prev.paginator-hairline-btn-light:focus,
.gicon-paginator-hairline-btn-left-dark { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-left-dark.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-prev:hover,
.paginator-hairline-btn-prev:focus,
.gicon-paginator-hairline-btn-left-hover { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-left-hover.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-prev.paginator-hairline-btn-light,
.paginator-hairline-btn-prev.paginator-hairline-btn-dark:hover,
.paginator-hairline-btn-prev.paginator-hairline-btn-dark:focus,
.gicon-paginator-hairline-btn-left-light { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-left-light.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-prev,
.gicon-paginator-hairline-btn-left { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-left.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-next.paginator-hairline-btn-dark,
.paginator-hairline-btn-next.paginator-hairline-btn-light:hover,
.paginator-hairline-btn-next.paginator-hairline-btn-light:focus,
.gicon-paginator-hairline-btn-right-dark { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-right-dark.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-next:hover,
.paginator-hairline-btn-next:focus,
.gicon-paginator-hairline-btn-right-hover { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-right-hover.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-next.paginator-hairline-btn-light,
.paginator-hairline-btn-next.paginator-hairline-btn-dark:hover,
.paginator-hairline-btn-next.paginator-hairline-btn-dark:focus,
.gicon-paginator-hairline-btn-right-light { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-right-light.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-next,
.gicon-paginator-hairline-btn-right { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-right.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-up.paginator-hairline-btn-dark,
.paginator-hairline-btn-up.paginator-hairline-btn-light:hover,
.paginator-hairline-btn-up.paginator-hairline-btn-light:focus,
.gicon-paginator-hairline-btn-up-dark { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-up-dark.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-up:hover,
.paginator-hairline-btn-up:focus,
.gicon-paginator-hairline-btn-up-hover { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-up-hover.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-up.paginator-hairline-btn-light,
.paginator-hairline-btn-up.paginator-hairline-btn-dark:hover,
.paginator-hairline-btn-up.paginator-hairline-btn-dark:focus,
.gicon-paginator-hairline-btn-up-light { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-up-light.png'); background-repeat: no-repeat; }

.paginator-hairline-btn-up,
.gicon-paginator-hairline-btn-up { background-image: url('/static/img/grunticon/png/paginator-hairline-btn-up.png'); background-repeat: no-repeat; }

.no-cssanimations .spinner,
.gicon-spinner-empty { background-image: url('/static/img/grunticon/png/spinner-empty.png'); background-repeat: no-repeat; }

.spinner,
.gicon-spinner { background-image: url('/static/img/grunticon/png/spinner.png'); background-repeat: no-repeat; }

.stars-large .star-empty,
.gicon-star-empty-large { background-image: url('/static/img/grunticon/png/star-empty-large.png'); background-repeat: no-repeat; }

.stars-small .star-empty,
.gicon-star-empty-small { background-image: url('/static/img/grunticon/png/star-empty-small.png'); background-repeat: no-repeat; }

.star-empty,
.gicon-star-empty { background-image: url('/static/img/grunticon/png/star-empty.png'); background-repeat: no-repeat; }

.stars-large .star-partial,
.gicon-star-partial-large { background-image: url('/static/img/grunticon/png/star-partial-large.png'); background-repeat: no-repeat; }

.stars-small .star-partial,
.gicon-star-partial-small { background-image: url('/static/img/grunticon/png/star-partial-small.png'); background-repeat: no-repeat; }

.star-partial,
.gicon-star-partial { background-image: url('/static/img/grunticon/png/star-partial.png'); background-repeat: no-repeat; }

.stars-large .star-rated,
.gicon-star-rated-large { background-image: url('/static/img/grunticon/png/star-rated-large.png'); background-repeat: no-repeat; }

.stars-small .star-rated,
.gicon-star-rated-small { background-image: url('/static/img/grunticon/png/star-rated-small.png'); background-repeat: no-repeat; }

.star-rated,
.gicon-star-rated { background-image: url('/static/img/grunticon/png/star-rated.png'); background-repeat: no-repeat; }

