@import "../../../base/styles/guide";

.guide-header {
  background: $blue;
}

.guide-example-demo-button {
  border-radius: 50px;

  color: $blue;

  &:hover,
  &:focus {
    color: $orange;
  }
}

.guide-example-modifier {
  color: $blue;
}

.guide-color-block-blue {
  background: $blue;
}

.guide-color-block-blue-hover {
  background: $blue-hover;
}

.guide-color-block-blue-active {
  background: $blue-active;
}

.guide-color-block-blue-secondary {
  background: $blue-secondary;
}

.guide-color-block-blue-secondary-hover {
  background: $blue-secondary-hover;
}

.guide-color-block-blue-secondary-active {
  background: $blue-secondary-active;
}

.guide-color-block-blue-tertiary {
  background: $blue-tertiary;
}

.guide-color-block-blue-tertiary-hover {
  background: $blue-tertiary-hover;
}

.guide-color-block-blue-tertiary-active {
  background: $blue-tertiary-active;
}

.guide-color-block-blue-pale {
  background: $blue-pale;
}

.guide-color-block-blue-pale-hover {
  background: $blue-pale-hover;
}

.guide-color-block-blue-pale-active {
  background: $blue-pale-active;
}

.guide-color-block-blue-light {
  background: $blue-light;
}

.guide-color-block-orange {
  background: $orange;
}

.guide-color-block-orange-hover {
  background: $orange-hover;
}

.guide-color-block-orange-active {
  background: $orange-active;
}

.guide-color-block-yellow {
  background: $yellow;
}

.guide-color-block-yellow-hover {
  background: $yellow-hover;
}

.guide-color-block-yellow-secondary {
  background: $yellow-secondary;
}

.guide-color-block-green {
  background: $green;
}

.guide-color-block-red {
  background: $red;
}

.guide-color-block-white {
  background: $white;
}

.guide-color-block-black {
  background: $black;
}

.guide-color-block-grey-dark {
  background: $grey-dark;
}

.guide-color-block-grey-medium {
  background: $grey-medium;
}

.guide-color-block-grey-light {
  background: $grey-light;
}

.guide-color-block-grey-very-light {
  background: $grey-very-light;
}

.guide-color-block-grey-cool {
  background: $grey-cool;
}

.guide-color-block-grey-cool-hover {
  background: $grey-cool-hover;
}

.guide-color-block-grey-cool-active {
  background: $grey-cool-active;
}
